* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url('./imagens/pexels-annpoan-5797912.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    background-color: #ffffff6e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}




h1 {
    background-color: #fff;
    border-radius: 15px;
    padding: 2px ;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-image {
    vertical-align: middle;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    

}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #b83b0a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #e64c04;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 2px solid black;
    
}

th {
    background-color: #ffffff;
}

@media (max-width: 600px) {
    table, th, td {
        display: block;
        width: 100%;
    }

    th {
        background-color: transparent; 
        border: none;
        padding: 5px 0;
    }

    td {
        border: none;
        padding: 5px 0;
    }
}

.nova-linha {
    background-color: #fff; /* Define o fundo das novas linhas como branco */
}